<html>
    <head>
        <style>
            tag {
              font-family: Consolas,"courier new";
              color: white;
              background-color: #4DA8DA;
              padding: 4px;
              border-radius: 3px;
              font-size: 105%;
            }
        </style>
    </head>
    <body>
        <b>Name:</b> {{info_dict['Name']}}<br>

        <b>Dates:</b> {{info_dict['DateStart']}} - {{info_dict['DateEnd']}}<br>

        <b>Need Male:</b> {{info_dict['NeedMale']}}<br>
        <b>Need Female:</b> {{info_dict['NeedFemale']}} <br>
        <b>Need Total:</b> {{info_dict['NeedTotal']}} <br>

        <b>Accomodation and Food</b><br>
        {{info_dict['ACCOMODATION AND FOOD']}}<br>

        <b>Location & Activities</b><br>
        {{info_dict['LOCATION & LEISURE ACTIVITY']}}<br>

        <b>Work</b><br>
        {{info_dict['WORK']}}<br>

        <b>Requirements</b><br>
        {{info_dict['REQUIREMENTS']}}<br>

        <b>Code:</b> {{info_dict['Code']}}<br>
        <b>Link:</b> <a href="{{info_dict['URL']}}">project page</a> <br>

         {% if any_tags == true %}
            <br>
            <b>Tags:</b>

            {% for tag in tags %}
             <tag>#{{tag}}</tag>
            {% endfor %}

        {% endif %}

    </body>
</html>

